*, *::after, *::before {
  box-sizing: border-box;  
}

body {
    font-family: 'Montserrat', sans-serif;
  	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
    background-color: #222222;
	margin: 0;
	padding: 0 24px;
}

nav {
	position: fixed;
	inset: 0;
	translate: 0 100%;
}

nav button {
	justify-self: start;
}

nav.open {
	translate: 0 0;
}

nav ul {
	list-style-type: none;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}

nav button {
	width: 40px;
	height: 40px;
}

nav li {
	color: #37302A;
}

header {
	height: 630px;
	/* background-image: url(images/header.png); */
}

header section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 138px;
	margin: 10px;
	padding: 14px 0;
}

header button {
	width: 40px;
	height: 40px;
}

header hr {
	width: 48px;
	height: 4px;
	background-color: #ffffff;
	text-align: left;
	margin: 0;
}

header h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 48px;
	width: 300px;
	line-height: 1.2em;
}

header p {
	line-height: 2em;
	width: 300px;
	margin-bottom: 52px;
}

header a {
	padding: 12px 28px;
	color: #37302A;
	background-color: #ffffff;
	border-radius: 2em;
}

main > section:nth-of-type(2n+1) {
	background-color: #ffffff;
	color: #37302A;
	font-size: 16px;
	margin: -24px;
	height: 420px;
}

section section {
	display: flex;
	justify-content: space-around;
}

section:nth-of-type(1) p {
	margin: 35px 0;
	width: 120px;
	text-align: center;
}

section h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

img:last-child {
	width: 327px;
	padding: 10px;
	display: block;
	margin: auto;
}

footer img {
	width: 234px;
}