header {
    height: 40em;
    background-image: 
        url('../images/aboutheader.png'),
        linear-gradient(#0006 0 0);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.8em;
    line-height: 1.2em;
    margin: 0;
    padding: 2.6em 0 .6em 0;
    text-align: center;
}

header p {
    line-height: 1.9em;
    margin: 0;
    text-align: center;
}

main > section:nth-of-type(1) h2 {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 2.2em;
	padding: 1.2em 0;
	margin: 0;
    text-align: center;
}

main > section:nth-of-type(1) h2::after {
	content:"";
	background-color: var(--orange);
	position: absolute;
	bottom: 0;
	width: 2em;
	height: .14em;
	left: calc(50% - 1em);
}

main > section:nth-of-type(1) img {
    width: 100%;
    display: block;
    margin-top: 3em;
}

main > section:nth-of-type(1) img+p {
    margin: 0;
    font-weight: 600;
    color: var(--orange);
    font-size: .8em;
    letter-spacing: .2em;
    padding-top: 2em;
}

main > section:nth-of-type(1) h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
    padding-top: .6em;
}

main > section:nth-of-type(1) h3+p {
    margin: 0;
    font-weight: 400;
    line-height: 1.9em;
    padding-top: 1em;
}

main > section:nth-of-type(2) {
    background-color: var(--white);
	color: var(--black);
}

main > section:nth-of-type(2) h2 {
    font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 2.2em;
    text-align: center;
    margin: 0;
    padding: 2.4em 0 1.2em 0;
}

main > section:nth-of-type(2) section {
    padding: 0 3em;
}

main > section:nth-of-type(2) img {
    width: 100%;
}

main > section:nth-of-type(2) h3 {
    font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
    margin: 0;
    padding: .6em 0;
}

main > section:nth-of-type(2) h4 {
	font-weight: 600;
	font-size: 1.1em;
    margin: 0;
    padding-bottom: 3em;
}

main > section:nth-of-type(3) {
    background-color: var(--white);
	color: var(--black);
}

main > section:nth-of-type(3) h2 {
    font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 2.2em;
    text-align: center;
    margin: 0;
    padding: 1.2em 0;
}

/* https://codepen.io/shooft/pen/abmLPwy */
/* regel 248 - 318 */
.reviewCarrousel {
    position: relative;
	outline: none;
}

.reviewCarrousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
	display: flex;
	overflow: hidden;
    scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
	scrollbar-width: none;
    gap: 2em;
}

.reviewCarrousel > ul::-webkit-scrollbar {
    display: none;
}

.reviewCarrousel > ul li {
    flex-basis: 100%;
    flex-shrink: 0;
	scroll-snap-align: center;
}

.reviewCarrousel > ul li > img {
    display: block;
    width: 100%;
}

.reviewCarrousel nav ul {
	left: 2em;
    right: 2em;
	bottom: 0;
	margin: 0;
    padding: 0 0 .5em;
    list-style: none;
	display: flex;
    justify-content: center;
    gap: .4em;
}

.reviewCarrousel > nav li {
	flex-basis: 0.8em;
	aspect-ratio: 1/1;
    margin: 1em 0 4em 0;
}

.reviewCarrousel > nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--dot);
	border-radius: 50%;
    outline: none;
    transition: 0.5s;
}

.reviewCarrousel > nav a:hover,
.reviewCarrousel > nav a:focus {
    background-color: var(--dot-active);
}

.reviewCarrousel > nav a.current {
    background-color: var(--dot-active);
}